<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
        </ion-col>
        <ion-col size="auto">
          <ion-button class="privilege-point" shape="round" size="small" color="tertiary">
            <img width="18" height="18" class="qr" src="assets/imgs/privilege-point.png" />
            <ion-label>
              <h3><b>&nbsp;{{ data.memberPoint | number:'1.0' }}</b></h3>
            </ion-label>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-right">
          <img *ngIf="false" width="18" height="18" class="qr" src="assets/imgs/privilege-info.png" />
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf="data.privilege?.length == 0" lines="none">
      <ion-item color="tertiary" class="ion-text-center">
        <ion-label>ไม่มีรายการ</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="data.privilege?.length != 0" lines="none">
      <!-- TODO : Replace variable -->
      <div *ngFor="let item of data.privileges" class="ion-margin-bottom">
        <ion-card (click)="visitEndpoint(item)" color="tertiary" class="ion-padding-start">
          <ion-item color="tertiary" class="ion-no-padding">
            <ion-label>
              <b>{{ item.privilege.name }}</b>
            </ion-label>
            <ion-note *ngIf="item.promotion">
              <ion-label color="danger">
                <h3>
                  <ion-icon name="flash-sharp" color="warning"></ion-icon>
                  {{ DisplayExpireDateTime(item.promotion) }}
                </h3>
              </ion-label>
            </ion-note>
          </ion-item>
          <ion-item color="tertiary" class="ion-no-padding">
            <img *ngIf="!item.privilege.rewardBannerUrl" width="100%"
              src="https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-orange-and-yellow-gradient-banner-background-imagegradientbackground-image-image_49980.jpg" />
            <img *ngIf="item.privilege.rewardBannerUrl && (!item.promotion || !item.promotion.promotionBanner)"
              width="100%" [src]="item.privilege.rewardBannerUrl" />
            <img *ngIf="item.promotion && item.promotion.promotionBanner" width="100%"
              [src]="item.promotion.promotionBanner" />
          </ion-item>
          <ion-item color="tertiary" class="ion-no-padding">
            <img width="18" height="18" src="assets/imgs/privilege-point.png" />
            <ion-label color="medium">
              <h3>
                &nbsp;
                <ion-text [color]="item.promotion? 'danger' : 'medium'" [ngClass]="{'line-through': item.promotion}">
                  {{ item.privilege.point | number:'1.0' }}</ion-text>
                <span *ngIf="item.promotion">&nbsp;{{ item.promotion.promotionPoint | number:'1.0' }}</span>
                <span>&nbsp;(จำนวนที่เหลือ {{ item.remainAmount | number:'1.0' }})</span>
              </h3>
            </ion-label>
            <ion-note
              *ngIf="(item.promotion && data.memberPoint >= item.promotion.promotionPoint && item.remainAmount > 0) || (!item.promotion && data.memberPoint >= item.privilege.point && item.remainAmount > 0)">
              <ion-label color="primary">
                <h3>
                  <ion-icon name="checkmark-circle"></ion-icon> แลกได้แล้ว
                </h3>
              </ion-label>
            </ion-note>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
  </ng-container>
</ion-content>