<ion-header>
  <ion-toolbar>
    <ion-title>e-Slip => Coupon Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/couponred.png'">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>Coupon Name</b></ion-text>

        <p><img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
          Shop Name</p>
      </ion-label>
    </ion-item>
    <ion-card color="tertiary">
      <img class="eslip-dim" src="assets/imgs/Coupontest.png">
      <img class="eslip-aproved-logo" width="75" height="75" src="assets/imgs/usedcoupon.png">
    </ion-card>
    <ion-item color="tertiary">
      <ion-label color="dark">
        <b>วัยหมดอายุ : d MMMM y H:mm</b>
        <ion-text color="medium">
          <p>
            <img height="12" src="assets/imgs/shoplocation.png" />
            Full Address
          </p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label color="medium">
        <ion-text color="danger"><b>คูปองถูกใช้งานแล้ว...</b></ion-text>
        <ion-text color="dark"><h1>ACC001</h1></ion-text>
        <p>ใช้เมื่อ : d MMMM y H:mm</p>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-label>
        <b>รายละเอียดคูปอง</b>
        <ion-text class="ion-text-wrap">
          <p>Reiciendis debitis aliqua aliquam cursus curae veritatis conubia est! Adipisicing nisl adipiscing? Aperiam,
            ut donec. </p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label>
        <b>เงื่อนไขคูปอง</b>
        <ion-text class="ion-text-wrap">
          <p>Reiciendis debitis aliqua aliquam cursus curae veritatis conubia est! Adipisicing nisl adipiscing? Aperiam,
            ut donec. </p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>