<ion-header>
  <ion-toolbar>
    <ion-title>ขั้นตอนการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">
  <form>
    <ion-card color="tertiary" class="ion-text-center">
      <ion-card-content>
        <img class="center qr" src="assets/imgs/topup.png" width="75" height="100">

        <ion-grid class="ion-margin-top">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-badge color="danger">1</ion-badge>
            <ion-label>
              <p>โอนเงินไปยังบัญชีของทาง mana</p>
            </ion-label>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-label>
              <p>เลขบัญชี XXXXX</p>
            </ion-label>
            <ion-button size="small" shape="round" color="dark" type="button">คัดลอก</ion-button>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-label>
              <p>ชื่อบัญชี บริษัท มานะ 2018 จำกัด</p>
            </ion-label>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-label>
              <p>ธนาคารกรุงไทย</p>
            </ion-label>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-badge color="danger">2</ion-badge>
            <ion-label>
              <p>กรอกข้อมูลยังหน้าถัดไปให้สมบูรณ์</p>
            </ion-label>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-label>
              <p>พร้อมแนบรูปสลิปที่โอนให้ mana</p>
            </ion-label>
          </ion-row>
          <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-top">
            <ion-badge color="danger">3</ion-badge>
            <ion-label>
              <p>รอการยืนยันจาก mana</p>
            </ion-label>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div class="ion-margin-top">
      <ion-label class="ion-text-center" color="medium">
        <p no-margin>ระยะเวลาทำการ 8.30 - 23.00 น.</p>
        <p no-margin>หลังจากทำตามขั้นตอนเสร็จเรียบร้อย</p>
        <p no-margin>หากมีข้อผิดพลาดหรือเงินเข้าช้า เกิน 5 นาที</p>
        <p no-margin>กรุณาติดต่อที่ Line@: @manaline หรือ โทร 089-8623380</p>
      </ion-label>
    </div>
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ถัดไป
    </ion-button>
  </form>
</ion-content>