<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top" mode="ios">

  <ng-container *ngIf="data$ | async as data">
    <ion-item color="tertiary" class="ion-margin-bottom" lines="none">
      <ion-label>
        <h3>กระเป๋าที่เติมเข้า</h3>
        <h2>
          <b>{{data.walletName}}</b>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none" class="ion-margin-top">
      <ion-avatar class="avatar-m non-circle" slot="start"><img class="non-circle" src="assets/imgs/icontopup.png">
      </ion-avatar>
      <ion-label class="ion-padding">
        <h2>จำนวนที่ต้องการเติม</h2>
        <ion-text color="danger">
          <h1><b>{{data.amount | number:'1.2-2'}} <small>THB</small></b></h1>
        </ion-text>
      </ion-label>
    </ion-item>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>