<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ng-container *ngIf="hasLoaded">
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-list lines="inset">
        <ion-item *ngFor="let item of data$ | async" (click)="onSelectDelivery(item)"
          color="tertiary" [ngClass]="{'ion-activated': isChecked(item)}">
          <ion-avatar slot="start">
            <img [src]="item.logo"> 
          </ion-avatar>
          <ion-label>
            <b>{{item.name}}</b>
            <ion-text color="medium">
              <h3>ค่าจัดส่ง {{item.shippingFees?.amountUnit}} บาท</h3>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button id="app-form-submit" type="submit" color="danger" [disabled]="fg.invalid" ion-button expand="full"
        no-margin>ยืนยัน</ion-button>
    </form>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>

</ion-content>