<ion-header>
  <ion-toolbar>
    <ion-title>เลือกคะแนน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-item class="ion-margin-top ion-margin-bottom">
      <ion-label>คะแนนที่คุณมี</ion-label>
      <ion-chip color="dark" outline>
        <ion-label>
          <img src="assets/imgs/privilege-point.png"  width="12" height="12">
          {{'3500'| number:'1.0-0'}}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-label> <b>Point Name</b>
        <ion-text color="medium">
          <h3>คะแนนที่ใช้ <img src="assets/imgs/privilege-point.png"  width="12" height="12"> 500</h3>
        </ion-text>
      </ion-label>
      <ion-button color="danger" shape="round" fill="outline" slot="end">
        <span><img height="11" src="assets/svgs/icon-add-danger.svg"> เลือก</span>
      </ion-button>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-label> <b>Point Name</b>
        <ion-text color="medium">
          <h3>คะแนนที่ใช้ <img src="assets/imgs/privilege-point.png"  width="12" height="12"> 500</h3>
        </ion-text>
      </ion-label>
      <ion-button color="danger" shape="round" fill="outline" slot="end">
        <span><img height="11" src="assets/svgs/icon-add-danger.svg"> เลือก</span>
      </ion-button>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-label> <b>Point Name</b>
        <ion-text color="medium">
          <h3>คะแนนที่ใช้ <img src="assets/imgs/privilege-point.png"  width="12" height="12"> 500</h3>
        </ion-text>
      </ion-label>
      <ion-button color="danger" shape="round" fill="outline" slot="end">
        <span><img height="11" src="assets/svgs/icon-add-danger.svg"> เลือก</span>
      </ion-button>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-label> <b>Point Name</b>
        <ion-text color="medium">
          <h3>คะแนนที่ใช้ <img src="assets/imgs/privilege-point.png"  width="12" height="12"> 500</h3>
        </ion-text>
      </ion-label>
      <ion-button color="danger" shape="round" fill="outline" slot="end">
        <span><img height="11" src="assets/svgs/icon-add-danger.svg"> เลือก</span>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>