<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการรับเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top">

  <!-- <ion-list *ngIf="!hasLoaded" no-lines>
    <ion-item text-center>
      กำลังโหลดข้อมูล กรุณารอสักครู่...
    </ion-item>
  </ion-list> -->

  <ng-container>
    <ion-card class="ion-margin-top ion-padding-bottom" mode="ios" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none" mode="ios">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon circle transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-label class="text-no-wrap text-small"><b>Form A</b></ion-label>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-label class="text-no-wrap text-small"><b>To B</b></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-label class="text-red text-large"><b>฿20.00</b></ion-label>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>

    <ion-card color="light" class="ion-text-center">
      <br>
        <ion-label class="text-gray ion-margin-vertical ion-text-uppercase text-large"><b>รหัสอ้างอิง : 9999</b></ion-label>
        <br>
        <ion-label class="text-gray text-small">วันที่ 06/01/2020 เวลา 23:32</ion-label>
        <br />
        <img class="center icon ion-margin-top" width="80" height="80" src="assets/imgs/transaction-in.png" />
    </ion-card>
  </ng-container>

</ion-content>