<ion-header>
  <ion-toolbar>
    <ion-title>e-Slip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="hasLoaded == 'y'">
  <ion-list lines="full">
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกร้าน</ion-label>
    </ion-list-header>
    <ion-item button detail="false" color="tertiary" *ngFor="let shop of data$ | async" (click)="onSelectItem(shop.merchantEslipUrl)">
      <ion-avatar slot="start">
        <img [src]="shop.merchant.logoImageUrl" />
      </ion-avatar>
      <ion-label>
        <b>{{shop.merchant.name}}</b>
        <ion-text color="medium">
          <h3>
            <img width="12" height="12" src="assets/imgs/couponshop.png"> {{shop.eslipCount}}
          </h3>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-container>

<ng-container *ngIf="hasLoaded == 'n'">
  <ion-list lines="none">
    <ion-item color="tertiary" class="ion-text-center">
      <ion-label>ไม่มีรายการ</ion-label>
    </ion-item>
  </ion-list>
</ng-container>

<ng-container *ngIf="!hasLoaded">
  <!--TODO: loading page here -->
</ng-container>
</ion-content>