<ion-header>
  <ion-toolbar>
    <ion-title>เบอร์ติดต่อ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ion-list>
    <ion-item button detail="false" color="tertiary">
      <ion-label color="medium">
        <ion-text color="dark"><b>ติดต่อธุรกิจ</b></ion-text>
        <h3>085-1234567</h3>
      </ion-label>
      <ion-note slot="end">
        <ion-label>
          <ion-text>
            <p>&nbsp;</p>
          </ion-text>
          <h3>แก้ไข</h3>
        </ion-label>
      </ion-note>
    </ion-item>
    <ion-item button detail="false" color="tertiary">
      <ion-label color="medium">
        <ion-text color="dark"><b>แจ้งปัญหา</b></ion-text>
        <h3>085-1234567</h3>
      </ion-label>
      <ion-note slot="end">
        <ion-label>
          <ion-text>
            <p>&nbsp;</p>
          </ion-text>
          <h3>แก้ไข</h3>
        </ion-label>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
