<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">

  <ng-container>

    <div class="ion-margin-bottom" *ngIf="true">
      <ion-card color="tertiary">
        <ion-card-content>
          <ion-label>
            <h2>หมายเลขพร้อมเพย์</h2>
            <h2>
              <b>1111111</b>
            </h2>
            <h2>ชื่อบัญชี</h2>
            <h2>
              <b>เนมเอ</b>
            </h2>
            <h2>
              <b>NAME A</b>
            </h2>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="ion-margin-bottom">
      <ion-card color="tertiary">
        <ion-card-content>
          <ion-label>
            <h2>จำนวนเงินที่ต้องการเติม</h2>
            <h2>
              <b>THB</b>
              <ion-text color="danger">
                <b> 20.00</b>
              </ion-text>
            </h2>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card *ngIf="true" color="tertiary">
      <ion-card-content>
        <img
          src="https://chart.googleapis.com/chart?cht=qr&chl=QRHERE&chs=500x500&choe=UTF-8&chld=L|2%27%20rel=%27nofollow" />
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>

<ion-footer *ngIf="true" mode="ios">
  <ion-button color="danger" class="ion-no-margin" expand="full" type="submit">ปิด
  </ion-button>
</ion-footer>