<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top" fullscreen="true">
  <ng-container *ngIf="(data$ | async)?.depositSession as data">
    <div class="ion-margin-bottom" *ngIf="data.promptpayType != 'qr' && hasLoaded">
      <ion-card color="tertiary">
        <ion-card-content>
          <img class="center ion-margin-bottom" width="60" height="60" src="assets/imgs/icontopup.png" />
          <ion-list>
            <ion-item color="tertiary">
              <ion-label>
                <h2>เลขพร้อมเพย์</h2>
                <h2>
                  <b>{{ data.promptpayId }}</b>
                </h2>
              </ion-label>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>
                <h2>ชื่อบัญชี</h2>
                <h2>
                  <b>{{ data.thAccountName }}</b>
                </h2>
                <h2>
                  <b>{{ data.enAccountName }}</b>
                </h2>
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none">
              <ion-label>
                <h2>จำนวนเงินที่ต้องการเติม</h2>
                <h2>
                  <ion-text color="danger">
                    <b>฿{{ ParseToTwoDecimal(data.amount) | number:'1.2-2' }}</b>
                  </ion-text>
                </h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card color="tertiary" *ngIf="data.promptpayType == 'qr' && hasLoaded">
      <ion-card-content>
        <img
          src="https://chart.googleapis.com/chart?cht=qr&chl={{data.qrText}}}&chs=500x500&choe=UTF-8&chld=L|2%27%20rel=%27nofollow" />
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>

<ng-container *ngIf="(data$ | async)?.depositSession as data">
  <ion-footer mode="ios" *ngIf="hasLoaded && data.promptpayType == 'qr'">
    <ion-button color="danger" class="ion-no-margin" expand="full" type="button" (click)="onClose()">ปิด
    </ion-button>
  </ion-footer>
</ng-container>