<ion-header>
  <ion-toolbar>
    <ion-title>จัดการสินค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(data$ | async)?.product as data">
    <ion-list lines="none" *ngIf="hasLoaded" class="ion-margin-top">
      <ion-item color="tertiary" class="imageCenter">
        <img [src]="data.logo" width="196" height="196">
      </ion-item>
      <ion-card color="tertiary">
        <ion-card-content class="ion-no-padding">
          <ion-grid class="ion-padding">
            <h3><b>สินค้า</b> {{ data.name }}</h3>
            <h3><b>ราคา</b> {{ ParseToTwoDecimal(data.listPrice) | number:'1.2-2'}} บาท/ชิ้น</h3>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <form (ngSubmit)="addProduct()">
        <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ใส่ตะกร้า
        </ion-button>
      </form>
    </ion-list>
  </ng-container>

  <ion-list *ngIf="!hasLoaded" lines="none" class="ion-margin-top">
    <ion-item color="tertiary" class="imageCenter">
      <img width="196" height="196">
    </ion-item>
    <ion-card color="tertiary">
      <ion-card-content class="ion-no-padding">
        <ion-grid class="ion-padding">
          <h3><b>สินค้า</b> name</h3>
          <h3><b>ราคา</b> 0.00 บาท/ชิ้น</h3>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>