<ion-header>
  <ion-toolbar>
    <ion-title>ระบบจองคิวออนไลน์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form [formGroup]="fg" (ngSubmit)="onSave()">
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-label position="floating">เบอร์โทรติดต่อ</ion-label>
        <ion-input type="tel" formControlName="mobileNumber"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="fg.invalid" id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ยืนยัน
    </ion-button>
  </form>
</ion-content>