<ion-header>
  <ion-toolbar>
    <ion-title>ระบบจองคิวออนไลน์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form>
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-label position="fixed">เบอร์โทร</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ยืนยัน
    </ion-button>
  </form>
</ion-content>