<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none">
      <ion-card color="tertiary" class="ion-padding-start">
        <ion-item color="tertiary" class="ion-no-padding">
          <ion-label>
            <b>{{ data.privilege?.name }}</b>
          </ion-label>
          <ion-note *ngIf="data.promotion">
            <ion-label color="danger">
              <h3>
                <ion-icon name="flash-sharp" color="warning"></ion-icon>
                {{ DisplayExpireDateTime(data.promotion) }}
              </h3>
            </ion-label>
          </ion-note>
        </ion-item>
        <ion-item color="tertiary" class="ion-no-padding">
          <img *ngIf="!data.privilege?.rewardBannerUrl" width="100%"
            src="https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-orange-and-yellow-gradient-banner-background-imagegradientbackground-image-image_49980.jpg" />
          <img *ngIf="data.privilege?.rewardBannerUrl && (!data.promotion || !data.promotion.promotionBanner)"
            width="100%" [src]="data.privilege?.rewardBannerUrl" />
          <img *ngIf="data.promotion && data.promotion.promotionBanner" width="100%"
            [src]="data.promotion.promotionBanner" />
        </ion-item>
        <ion-item color="tertiary" class="ion-no-padding">
          <small class="ion-no-margin">
            <b>แต้มที่ใช้แลก&nbsp;</b>
          </small>

          <img width="18" height="18" src="assets/imgs/privilege-point.png" />
          <ion-label color="medium">
            <h3>
              &nbsp;
              <ion-text [color]="data.promotion? 'danger' : 'medium'" [ngClass]="{'line-through': data.promotion}">
                {{ data.privilege?.point | number:'1.0' }}</ion-text>
              <span *ngIf="data.promotion">&nbsp;{{ data.promotion.promotionPoint | number:'1.0' }}</span>
            </h3>
          </ion-label>
          <ion-note
            *ngIf="(data.promotion && data.memberPoint >= data.promotion?.promotionPoint && data.remainAmount > 0) || (!data.promotion && data.memberPoint >= data.privilege?.point && data.remainAmount > 0)">
            <ion-label color="primary">
              <h3>
                <ion-icon name="checkmark-circle"></ion-icon> แลกได้แล้ว
              </h3>
            </ion-label>
          </ion-note>
        </ion-item>
      </ion-card>
      <ion-item color="tertiary" class="ion-no-padding ion-margin-bottom">
        <ion-label class="ion-padding-start">
          <b>จำนวนที่เหลือให้แลก {{ data.remainAmount | number:'1.0' }}</b>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" lines="full" class="ion-no-padding">
        <ion-label class="ion-padding-start">
          <b>ข้อมูลจำเพาะ</b>
          <ion-text class="ion-text-wrap">
            <h3>{{ data.privilege?.description ? data.privilege?.description : '-' }}</h3>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full" class="ion-no-padding">
        <ion-label class="ion-padding-start">
          <b>วิธีรับของรางวัล</b>
          <ion-text class="ion-text-wrap">
            <h3>{{ data.privilege?.condition ? data.privilege?.condition : '-' }}</h3>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" class="ion-no-padding">
        <ion-label class="ion-padding-start">
          <b>เงื่อนไขการรับของรางวัล</b>
          <ion-text class="ion-text-wrap">
            <h3>{{ data.privilege?.additional ? data.privilege?.additional : '-'  }}</h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>

  </ng-container>
</ion-content>