<ion-header>
  <ion-toolbar>
    <ion-title>สัญญาส่วนแบ่งรายได้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ion-card color="tertiary" class="ion-text-center">
    <ion-card-content>
      <ion-avatar class="avatar-large center">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item color="tertiary" class="ion-no-padding">
      <ion-label>
        <ion-text class="ion-text-wrap">
          <h3 class="ion-padding-start">Hello! This is a generator for text fonts of the "cool" variety. I noticed
            people were trying to find a
            generator like fancy letters, but were ending up on actual font sites rather than generators of copy-paste
            text like this one.</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-label>
        <ion-text class="ion-text-wrap ion-text-center">
          <h1><b>Food Prada</b></h1>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" class="ion-no-padding">
      <ion-label>
        <ion-text class="ion-text-wrap">
          <h3 class="ion-padding-start">Hello! This is a generator for text fonts of the "cool" variety. I noticed
            people were trying to find a
            generator like fancy letters, but were ending up on actual font sites rather than generators of copy-paste
            text like this one.</h3>
        </ion-text>
      </ion-label>
    </ion-item>

    <ion-item color="tertiary" class="ion-no-padding" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left">
            <ion-label>
              <ion-text color="medium">
                Delivery
              </ion-text>
              <h3><b>70%</b></h3>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-label>
              <ion-text color="medium">
                Dev.
              </ion-text>
              <h3><b>20%</b></h3>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-right">
            <ion-label>
              <ion-text color="medium">
                Biker
              </ion-text>
              <h3><b>10%</b></h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>