<ion-header>
  <ion-toolbar>
    <ion-title>ขอทำรายการจ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card class="ion-margin-top ion-padding-bottom" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon circle transaction-img" [src]="data.merchangLogo">
              </div>
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.merchantName }}</b></h3>
              </ion-label>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/iconsubsidie.png">
              </div>
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.users?.length + data.merchants?.length }} รายการ</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-label class="text-red">
          <h1><b>฿{{ AbsoluteNumber(ParseToTwoDecimal(data.amount)) | number:'1.2-2' }}</b></h1>
        </ion-label>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>
    <ion-list lines="full" *ngIf="data.merchants && data.merchants.length > 0">
      <ion-list-header lines="none" mode="md">
        <ion-label>ร้านค้าที่ได้รับเงิน</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" *ngFor="let item of data.merchants">
        <ion-avatar slot="start">
          <img [src]="item.displayUrl">
        </ion-avatar>
        <ion-label>{{item.displayName}}</ion-label>
        <ion-note color="danger" slot="end">{{AbsoluteNumber(ParseToTwoDecimal(item.amount)) | number:'1.2-2'}}
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-list lines="full" *ngIf="data.users && data.users.length > 0">
      <ion-list-header lines="none" mode="md">
        <ion-label>ผู้ใช้งานที่ได้รับเงิน</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" *ngFor="let item of data.users">
        <ion-avatar slot="start">
          <img [src]="item.displayUrl">
        </ion-avatar>
        <ion-label>{{item.displayName}}</ion-label>
        <ion-note color="danger" slot="end">{{AbsoluteNumber(ParseToTwoDecimal(item.amount)) | number:'1.2-2'}}
        </ion-note>
      </ion-item>
    </ion-list>
  </ng-container>

  <ion-list *ngIf="!hasLoaded" lines="none">
    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-card color="light" class="ion-text-center">
      <ion-label>
        <h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </ion-label>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>