<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <ion-list lines="none" *ngFor="let detail of bankDetail?.detail">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <h3 class="ion-text-left"><b>{{ detail.source }}</b></h3>
        <div *ngFor="let step of detail.step">
          <img *ngIf="step.type == sourceType.image" class="ion-image-center ion-padding-top ion-padding-bottom"
            [src]="step.source" style="max-width: 80%; max-height: 512px;" />
          <h3 class="ion-text-left" *ngIf="step.type != sourceType.image"
            [ngStyle]="{'list-style-type':step.type == sourceType.disc ? 'disc' : '' }">
            <li>{{ step.source }}<span *ngIf="startWith(step.source)">{{ title }}</span></li>
          </h3>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>