<ion-header>
  <ion-toolbar>
    <ion-title>โอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ng-container *ngIf="hasLoaded && data$ | async as data">
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top imageCenter">
          <img src="assets/imgs/promtpayicon.png" width="90" height="90" class="circle ion-margin-top">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label>
            <h2>พร้อมเพย์ {{ DisplayRefId(data.refId) }}</h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="none">
          <ion-label>
            <h2><b>จำนวนเงินที่จ่าย</b></h2>
          </ion-label>
        </ion-item>
        <ion-item color="tertiary">
          <ion-input type="number" class="ion-text-center" placeholder="ระบุจำนวนเงิน" formControlName="amount"
            (ionChange)="AmountChanged()">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
        [disabled]="fg.invalid">ตกลง
      </ion-button>
    </form>
  </ng-container>
  <ng-container *ngIf="!hasLoaded">
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
          </h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit" disabled>ตกลง
    </ion-button>
  </ng-container>
</ion-content>