<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content mode="ios">

  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none" *ngIf="hasLoaded">
      <ion-item color="tertiary">
        <img src="assets/imgs/balance.png" slot="start" style="width: 36px;height: 26px;">
        <ion-label>
          <h3>ยอดคงเหลือ</h3>
          <b>{{ParseToTwoDecimal(data.merchantAccount.balance)| number:'1.2-2'}} <small>THB</small></b>
        </ion-label>
        <ion-note color="dark" slot="end"><ion-icon name="star" color="danger"></ion-icon> Lite</ion-note>
      </ion-item>
      <ion-item color="tertiary">
        <ion-button color="dark" shape="round" fill="outline" slot="end" (click)="onSelectReceiveMoneyQR()">
          <span><img width="15" height="15" src="assets/imgs/qrpay.png" /> QR รับเงิน</span>
        </ion-button>
      </ion-item>
      <ion-list-header mode="md" color="tertiary" class="ion-margin-top">
        <ion-label>บริการเสริม</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" *ngIf="data.services != null && data.services?.lengh != 0">
        <ion-label>
          <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let service of data.services">
              <img [src]="service.logoUrl" style="width: 50px;height: 50px;" />
            </ion-slide>
          </ion-slides>
        </ion-label>
        <ion-button color="dark" shape="round" fill="outline" slot="end" (click)="onSelectAddThirdParty()">
          <ion-icon name="add" color="danger"></ion-icon> เพิ่ม
        </ion-button>
      </ion-item>

      <img src="assets/imgs/banner3rdparty.png" *ngIf="data.services == null || data.services?.lengh == 0" />
      <ion-fab vertical="bottom" horizontal="end" *ngIf="data.services == null || data.services?.lengh == 0">
        <ion-button size="small" color="light" shape="round" (click)="onSelectAddThirdParty()">
          <ion-icon name="add" color="danger"></ion-icon> เพิ่ม
        </ion-button>
      </ion-fab>
    </ion-list>
    <ion-row class="ion-padding" *ngIf="hasLoaded">
      <ion-col size="4">
        <ion-segment (click)="onSelectProfile()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menuprofileshop.png">
            <ion-label>โปรไฟล์ร้าน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectTopup()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menutopup.png">
            <ion-label>เติมเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectWithDraw()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menuwithdraw.png">
            <ion-label>ถอนเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectTransaction()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menuaccount.png">
            <ion-label>บัญชี</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectOwners()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menushopowner.png">
            <ion-label>เจ้าของร้าน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectSetting()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menusetting.png">
            <ion-label>ตั้งค่า</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ng-container>
  <ion-list lines="none" *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content> -->

<!-- TODO ui ใหม่ -->
<!-- <ion-content mode="ios">
  <ng-container>
    <ion-list lines="none">
      <ion-item color="tertiary" lines="full" class="ion-no-padding">
        <ion-avatar slot="start" style="width: 65px;height: 50px;" class="ion-padding-start">
          <img src="assets/imgs/qrpay.png" />
        </ion-avatar>
        <ion-grid class="ion-padding-bottom">
          <ion-row>
            <ion-col>
              <ion-label>
                <b>Food panda</b>
              </ion-label>
            </ion-col>
            <ion-col class="ion-text-right" color="medium">
              <ion-icon name="bookmark" color="danger"></ion-icon>Lite
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label color="medium">
                <p>#112455</p>
              </ion-label>
            </ion-col>
            <ion-col class="ion-text-right">
              <ion-label color="medium">
                <p>แก้ไขโปรไฟล์</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item color="tertiary" class="ion-no-padding">
        <ion-label color="medium">
          <h3 class="ion-padding-start">บริการเสริม</h3>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary" class="ion-no-padding" lines="none">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-no-padding">
            <ion-col size="2">
              <ion-item color="tertiary" lines="none" class="ion-no-padding">
                <img src="assets/imgs/qrpay.png" />
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <ion-item color="tertiary" lines="none" class="ion-no-padding">
                <img src="assets/imgs/qrpay.png" />
              </ion-item>
            </ion-col>
            <ion-col size="2" class="ion-no-padding ion-text-center">
              <ion-item color="tertiary" lines="none" class="ion-no-padding">
                <ion-icon color="danger" name="add-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item color="tertiary" class="ion-no-padding">
        <ion-label color="medium">
          <h5 class="ion-padding-start">ยอดเงินคงเหลือ</h5>
        </ion-label>
      </ion-item>
      <ion-item button color="tertiary" lines="full" class="ion-no-padding">
        <img class="ion-padding-start" src="assets/imgs/balance.png" slot="start" style="width: 36px;height: 26px;">
        <ion-label>
          <b>555 <small>THB</small></b>
        </ion-label>
        <ion-label class="ion-text-right" color="medium">
          <p>ดูบัญชี</p>
        </ion-label>
      </ion-item>

      <ion-item color="tertiary">
        <ion-button color="medium" shape="round" fill="outline" class="center" (click)="onSelectReceiveMoneyQR()">
          <span><img width="15" height="15" src="assets/imgs/qrpay.png" /> คิวอาร์รับเงิน</span>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-row class="ion-padding">
      <ion-col size="4">
        <ion-segment (click)="onSelectProfile()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menutopup.png">
            <ion-label>เติมเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectTopup()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menuwithdraw.png">
            <ion-label>ถอนเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectWithDraw()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/employee.png">
            <ion-label>พนักงาน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectTransaction()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/budget.png">
            <ion-label>งบประมาณ</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectOwners()">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/bill.png">
            <ion-label>บิล</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content> -->


<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none" *ngIf="hasLoaded">
      <ion-item color="tertiary" lines="full">
        <ion-avatar class="avatar-m" slot="start">
          <img *ngIf="data.logo" [src]="data.logo" />
          <img *ngIf="!data.logo" src="assets/imgs/defaultshop.png" />
        </ion-avatar>
        <ion-label>
          <h2> <b>{{ data.name }}</b>
          </h2>
          <ion-text color="medium">
            <h3>{{ data.refCode }}</h3>
          </ion-text>
        </ion-label>
        <ion-note class="ion-text-end">
          <ion-label color="dark">
            <h3>
              <ion-icon name="bookmark" color="danger"></ion-icon> {{ data.tier }}
            </h3>
            <ion-text color="medium">
              <h3 (click)="onSelectEditProfile(data._id)">แก้ไขโปรไฟล์</h3>
            </ion-text>
          </ion-label>
        </ion-note>
      </ion-item>

      <ion-item color="tertiary" class="ion-no-padding">
        <ion-label color="medium">
          <h3 class="ion-padding-start">บริการเสริม</h3>
        </ion-label>
      </ion-item>
      <div class="ion-margin-bottom">
        <ion-item color="tertiary" class="ion-no-padding" lines="none"
        *ngIf="data.services != null && data.services?.length != 0">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-no-padding">
            <ion-col size="auto">
              <ion-item color="tertiary" lines="none" class="ion-no-padding" *ngFor="let service of data.services">
                <img height="31" width="30" [src]="service.logo" />
              </ion-item>
            </ion-col>
            <ion-col size="2" class="ion-no-padding ion-text-center">
              <ion-item color="tertiary" lines="none" class="ion-no-padding">
                <ion-icon color="danger" name="add-circle"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      </div>


      <ion-item color="tertiary" class="ion-no-padding">
        <ion-label color="medium">
          <h3 class="ion-padding-start">ยอดเงินคงเหลือ</h3>
        </ion-label>
      </ion-item>

      <ion-item button color="tertiary" lines="full" class="ion-no-padding" (click)="onSelectTransaction(data._id)">
        <img class="ion-padding-start" src="assets/imgs/balance.png" slot="start" style="width: 36px;height: 26px;">
        <ion-label>
          <b>{{ data.balance | number:'1.2-2' }}</b>
        </ion-label>
        <ion-label class="ion-text-right" color="medium">
          <p>ดูบัญชี</p>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label class="ion-no-margin ion-margin-end ion-text-center">
          <ion-chip color="medium" outline="true" (click)="onSelectReceiveMoneyQR(data._id)">
            <img width="15" height="15" src="assets/imgs/qrpay.png">
            <ion-label color="medium">
              <h3 class="ion-no-margin">&nbsp;คิวอาร์รับเงิน</h3>
            </ion-label>
          </ion-chip>
        </ion-label>

      </ion-item>
    </ion-list>

    <ion-row class="ion-padding">
      <ion-col size="4">
        <ion-segment (click)="onSelectDeposit(data._id)">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menutopup.png">
            <ion-label>เติมเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectWithDraw(data._id)">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/menuwithdraw.png">
            <ion-label>ถอนเงิน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectEmployee(data._id)">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/employee.png">
            <ion-label>พนักงาน</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment (click)="onSelectBudget(data._id)">
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/budget.png">
            <ion-label>งบประมาณ</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="4">
        <ion-segment>
          <ion-segment-button color="tertiary" class="ion-padding">
            <img width="30" height="30" src="assets/imgs/bill.png">
            <ion-label>บิล</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ng-container>

  <ion-list lines="none" *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>
</ion-content>