<ion-header>
  <ion-toolbar>
    <ion-title>merchant-contract</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="inset">
    <ion-item button color="tertiary" lines="none" class="ion-margin-top">
      <ion-avatar slot="start" class="avatar-large">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>บริษัท Mana</b></ion-text>
        <h3>สัญญาส่วนแบ่งรายได้</h3>
      </ion-label>
    </ion-item>
    
    <ion-item button color="tertiary" lines="none" class="ion-margin-top">
      <ion-avatar slot="start" class="avatar-large">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>บริษัท Mana</b></ion-text>
        <h3>สัญญาส่วนแบ่งรายได้</h3>
      </ion-label>
    </ion-item>

  

  </ion-list>
</ion-content>