<ion-header>
  <ion-toolbar>
    <ion-title>สัญญา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none" *ngIf="hasLoaded == 'n'">
      <ion-item color="tertiary" class="ion-text-center">
        <ion-label>ไม่มีรายการ</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="inset" *ngIf="hasLoaded == 'y'">
      <ion-item button color="tertiary" lines="none" class="ion-margin-top" *ngFor="let item of data.contracts"
        (click)="onSelectItem(item._id)">
        <ion-avatar slot="start" class="avatar-medium">
          <img *ngIf="item.logo" [src]="item.logo">
          <img *ngIf="!item.logo" src="assets/imgs/Logo_mana.png">
        </ion-avatar>
        <ion-label color="medium">
          <ion-text color="dark"><b>{{ item.name }}</b></ion-text>
          <h3>{{ item.body }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>