<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการจ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">

  <ng-container *ngIf="data$ | async as data">
    <ion-card class="ion-padding-top" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid class="ion-padding">
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img *ngIf="data.logo" class="icon circle transaction-img" [src]="data.logo">
                <img *ngIf="!data.logo" class="icon circle transaction-img" src="assets/imgs/defaultshop.png">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.displayName }}</b></h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.name }}</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3>{{ data.walletName }}</h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-no-padding">
              <ion-label class="ion-text-nowrap">
                <h3></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="full">
        <ion-label class="text-red">
          <h2><b>{{ParseToTwoDecimal(data.total?.amountUnit)| number:'1.2-2'}} <small>{{ data.total?.currency }}</small></b>
          </h2>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" class="ion-no-padding" lines="none">
        <ion-grid>
          <ion-row *ngIf="data.refId">
            <ion-col size="2.5">
              <ion-label color="dark">
                <h3><b>biller id</b></h3>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="medium">
                <h3>{{ data.refId }}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="data.ref1">
            <ion-col size="2.5">
              <ion-label color="dark">
                <h3><b>ref.1</b></h3>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="medium">
                <h3>{{ data.ref1 }}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="data.ref2">
            <ion-col size="2.5">
              <ion-label color="dark">
                <h3><b>ref.2</b></h3>
              </ion-label>
            </ion-col>
            <ion-col>
              <ion-label color="medium">
                <h3>{{ data.ref2 }}</h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item color="tertiary" class="ion-padding-vertical" lines="none">
        <ion-avatar slot="start" class="avatar-m">
          <img class="non-circle" [src]="data.qrUrl" />
        </ion-avatar>
        <ion-label>
          <h2><b>รหัสอ้างอิง : {{ data.refCode }}</b></h2>
          <ion-text color="medium">
            <h3>วันที่ {{ data.actionDateTime | date:'dd/MM/yyyy' }} ({{ data.actionDateTime | date:'H:mm' }})</h3>
          </ion-text>
        </ion-label>
        <ion-note>
          <ion-label>
            <h3>
              <a class="link-medium" [href]="data.shareUrl">
                <ion-icon name="share-outline"></ion-icon>&nbsp;แชร์
              </a>
            </h3>
          </ion-label>
        </ion-note>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>
    <br>
    <ion-label color="medium" class="ion-text-center">
      <h3>
        <a class="link-medium" [href]="data.historyUrl">
          <ion-icon name="receipt-outline"></ion-icon>&nbsp;ดูรายละเอียดบิล
        </a>
      </h3>
    </ion-label>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-label>
      <h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </h3>
    </ion-label>
    <br>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>

</ion-content>