<ion-header>
  <ion-toolbar>
    <ion-title>ระบบจองคิวออนไลน์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ng-container *ngIf="data$ | async as data">
    <ion-item lines="none" color="tertiary">
      <ion-label>
        <h3>ลำดับคิวของคุณ : {{ data.myQ }}</h3>
        <h3>จำนวนคิวก่อนหน้าคุณ : {{ data.remain }}</h3>
        <h3>หมายเหตุ เปิดหน้านี้ใหม่เพื่ออัพเดตข้อมูลจำนวนคิวก่อนหน้าคุณ</h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>