<ion-header>
  <ion-toolbar>
    <ion-title>รายการสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list margin-top mode="ios">
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกสมาชิกร้าน</ion-label>
    </ion-list-header>
    <ion-item mode="ios" button color="tertiary"> 
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/logo.png'" />
      </ion-avatar>
      <ion-label> 
        <b>shop name</b>
        <p><ion-icon name="person"></ion-icon> 0 คน</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" mode="ios" button color="tertiary"> 
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/logo.png'" />
      </ion-avatar>
      <ion-label> 
        <b>shop name</b>
        <p><ion-icon name="person"></ion-icon> 0 คน</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
