<ion-header>
  <ion-toolbar>
    <ion-title>กระเป๋าเงินของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" mode="ios" color="danger">
    <ion-label> walletName </ion-label>
    <ion-label slot="end" class="ion-text-right">
      <ion-icon name="star"></ion-icon> บัญชีหลัก
    </ion-label>
  </ion-item>
  <ion-item lines="none" mode="ios" color="danger" class="ion-text-center">
    <ion-label>
      <ion-label>ยอดเงินปัจจุบัน</ion-label>
      <ion-label class="text-large"><b>0.00</b></ion-label>
    </ion-label>
  </ion-item>
  <ion-list lines="full" class="ion-no-padding">
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('paycart')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('paycart')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-red">-50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('payback')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('payback')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-blue">+50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('deposit')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('deposit')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-blue">+50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('withdraw')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('withdraw')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-red">-50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('receivemoney')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('receivemoney')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-blue">+50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('withdraw2mct')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('withdraw2mct')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-red">-50.00</span>
    </ion-item>
    <ion-item mode="ios" button detail="false" color="tertiary">
      <ion-avatar slot="start">
        <img [src]="getActionImage('withdrawfrommct')" />
      </ion-avatar>
      <ion-label>
        <ion-label><b>{{getActionDisplay('withdrawfrommct')}}</b><span class="text-gray"> (actionWalletName)</span></ion-label>
        <ion-label class="text-gray text-small">04/03/20 11:50</ion-label>
      </ion-label>
      <span slot="end" class="text-blue">+50.00</span>
    </ion-item>
  </ion-list>
</ion-content>