<ion-header>
  <ion-toolbar>
    <ion-title>เจ้าของร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <ion-label>
        <b>Full Name</b>
        <h3>E-mail</h3>
      </ion-label>
      <ion-note color="danger" slot="end"><img height="12" src="assets/svgs/icon-star-danger.svg"> บัญชีหลัก</ion-note>
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img src="assets/imgs/logo.png">
      </ion-avatar>
      <ion-label>
        <b>Full Name</b>
        <h3>E-mail</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>