<ion-header>
  <ion-toolbar>
    <ion-title>กระเป๋าเงินของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-list-header lines="none" mode="md">
      <ion-label>เลือกกระเป๋าเงินของคุณ</ion-label>
    </ion-list-header>
    <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/changewallet.png">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="medium">
          <p>currency</p>
        </ion-text>
        <b>wallet name</b>
      </ion-label>
      <ion-label class="ion-text-right">
        <ion-text color="medium">
          <p [hidden]="false">
            <img height="12.25" src="assets/svgs/icon-star-danger.svg" > บัญชีหลัก
          </p>
        </ion-text>
        <b>{{'0'| number:'1.2-2'}}</b>
      </ion-label>
    </ion-item>
    <ion-item button detail="false" color="tertiary" class="ion-margin-bottom">
      <ion-thumbnail slot="start">
        <img src="assets/imgs/changewallet.png">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="medium">
          <p>currency</p>
        </ion-text>
        <b>wallet name</b>
      </ion-label>
      <ion-label class="ion-text-right">
        <ion-text color="medium">
          <p [hidden]="true">
            <img height="12.25" src="assets/svgs/icon-star-danger.svg" > บัญชีหลัก
          </p>
        </ion-text>
        <b>{{'0'| number:'1.2-2'}}</b>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>