<ion-header>
  <ion-toolbar>
    <ion-title>กระเป๋าเงินของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">

    <ion-list lines="none"  *ngIf="hasLoaded == 'n'">
      <ion-list-header lines="none" mode="md">
        <ion-label>เลือกกระเป๋าเงินของคุณ</ion-label>
      </ion-list-header>
      <ion-item class="ion-text-center" color="tertiary">
        <ion-label>
          ไม่มีรายการ
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="none" *ngIf="hasLoaded == 'y'">
      <ion-list-header lines="none" mode="md">
        <ion-label>เลือกกระเป๋าเงินของคุณ</ion-label>
      </ion-list-header>
      <ion-item button detail="false" color="tertiary" class="ion-margin-bottom" *ngFor="let item of data" (click)="onSelectItem('nwltslt-1')">
        <ion-avatar slot="start">
          <img class="non-circle" src="assets/imgs/changewallet.png">
        </ion-avatar>
        <ion-label>
          <ion-text color="medium">
            <h3>{{ item.walletItem.currency }}</h3>
          </ion-text>
          <b>{{ item.walletItem.name }}</b>
        </ion-label>
        <ion-label class="ion-text-right">
          <ion-text color="medium">
            <h3 [hidden]="false">
              <img height="12.25" src="assets/svgs/icon-star-danger.svg" > บัญชีหลัก
            </h3>
          </ion-text>
          <b>{{ ParseToTwoDecimal(item.walletItem.balance) | number:'1.2-2' }}</b>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>