<ion-header>

  <ion-toolbar>
    <ion-title>demoFormDialogInfo</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form [formGroup]="fg" (ngSubmit)="onSave()">
    <p margin-left>เลือกคูปองที่ต้องการใช้งาน</p>

    <ion-list margin-top mode="ios">
      <ion-card *ngFor="let item of data$" (click)="onSelectCoupon(item)" margin-top padding-bottom>
        <ion-row align-items-center>
          <ion-col col-auto>
            <img width="20" height="20" class="qr"
              [src]="isChecked(item) ? 'assets/imgs/correctblue.png' : 'assets/imgs/correctgray.png'" />
          </ion-col>
          <ion-col col-auto>
            <ion-label>{{ item.name }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

    <ion-footer>
      <ion-button id="app-form-submit" type="submit" color="danger" [disabled]="fg.invalid" ion-button expand="full"
        no-margin>ยืนยัน</ion-button>
    </ion-footer>
  </form>

</ion-content>