<ion-header>
  <ion-toolbar>
    <ion-title>จ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="hasLoaded == 'y' && data$ | async as data">
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-list lines="none">
        <ion-item color="tertiary" class="ion-margin-top imageCenter">
          <img *ngIf="data.merchantAccount.logo" [src]="data.merchantAccount.logo" class="circle ion-margin-top"
            height="90px" width="90px">
          <img *ngIf="!data.merchantAccount.logo" src="assets/imgs/defaultshop.png" class="circle ion-margin-top"
            height="90px" width="90px">
        </ion-item>
        <ion-item color="tertiary" class="ion-text-center">
          <ion-label><b>{{data.merchantAccount.name}}</b></ion-label>
        </ion-item>
        <ion-item color="tertiary" lines="full">
          <ion-label position="floating">
            จำนวนเงินที่จ่าย
          </ion-label>
          <ion-input type="number" placeholder="ระบุยอดเงิน" class="ion-text-center" formControlName="amount"
            (ionChange)="AmountChanged()"></ion-input>
        </ion-item>
        <ion-item color="tertiary">
          <ion-note color="danger" slot="end">ใส่รหัสจ่ายเงิน</ion-note>
        </ion-item>
        <!-- <ion-item color="tertiary" class="ion-margin-top">
          <ion-label class="ion-padding-top ion-padding-bottom">
            ใส่ส่วนลด
          </ion-label>
          <ion-fab horizontal="end">
            <ion-fab-button size="small" color="danger">
              <img height="15.75" src="assets/svgs/icon-add-light.svg">
            </ion-fab-button>
            <ion-fab-list side="start">
              <ion-fab-button>
                <img height="18" src="assets/svgs/icon-point-dark.svg">
              </ion-fab-button>
              <ion-fab-button>
                <img height="18" src="assets/svgs/icon-coupon-dark.svg">
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
        <ion-item color="tertiary">
          <ion-avatar slot="start">
            <img src="assets/imgs/couponred.png">
          </ion-avatar>
          <ion-label>
            คุณมีส่วนลดที่สามารถใช้ได้
          </ion-label>
          <ion-button color="danger" shape="round" slot="end" fill="outline">
            ใช้เลยตอนนี้
          </ion-button>
        </ion-item>
        <ion-card color="tertiary">
          <ion-card-content class="ion-no-padding">
            <ion-label class="ion-padding">item.name</ion-label>
            <ion-item class="couponImage" color="tertiary" lines="none">
              <img src="assets/imgs/Coupontest.png" class="ion-margin-bottom">
              <ion-note color="danger" slot="end">ลบ</ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card> -->
      </ion-list>
      <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
        [disabled]="fg.invalid">ตกลง
      </ion-button>
    </form>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <!--TODO: loading page here -->
  </ng-container>
</ion-content>