<ion-header>
  <ion-toolbar>
    <ion-title>จ่ายเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <form>
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-margin-top imageCenter">
        <img src="assets/imgs/logo.png" class="ion-margin-top">
      </ion-item>
      <ion-item color="tertiary" class="ion-text-center">
        <ion-label><b>Shop Name</b></ion-label>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label color="medium">
          <b>จำนวนเงินที่จ่าย</b>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" lines="full">
        <ion-label position="fixed">THB</ion-label>
        <ion-input type="number" placeholder="ระบุยอดเงิน"></ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-note color="danger" slot="end">ใส่รหัสจ่ายเงิน</ion-note>
      </ion-item>
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-label color="medium" class="ion-padding-top ion-padding-bottom">
          ใส่ส่วนลด
        </ion-label>
        <ion-fab horizontal="end">
          <ion-fab-button size="small" color="danger">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button>
              <ion-icon src="assets/svgs/point.svg"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon src="assets/svgs/coupon.svg"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-item>
    </ion-list>
    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">ตกลง
    </ion-button>
  </form>
</ion-content>