<ion-header>
  <ion-toolbar>
    <ion-title>ร้านของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none" *ngIf="hasLoaded == 'y'">
      <ion-list-header mode="md" class="ion-text-left">
        <ion-label>เลือกร้าน</ion-label>
      </ion-list-header>
      <ion-item button detail="false" color="tertiary" class="ion-margin-bottom"
        *ngFor="let merchantAccount of data.merchantAccounts"
        (click)="onSelectItem(merchantAccount.endpointId,merchantAccount.approvedDateTime != null)">
        <ion-avatar slot="start">
          <img *ngIf="merchantAccount.logo" [src]="merchantAccount.logo" />
          <img *ngIf="!merchantAccount.logo" src="assets/imgs/defaultshop.png" />
        </ion-avatar>
        <ion-label>
          <b>Merchant Name</b>
          <ion-text color="danger">
            <h3 *ngIf="merchantAccount.approvedDateTime == null">รอการอนุมัติ</h3>
            <h3 *ngIf="merchantAccount.approvedDateTime != null">&nbsp;</h3>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list lines="none" class="ion-text-center" *ngIf="hasLoaded == 'n'">
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-label>
          <b>เริ่มต้นร้านของคุณ</b>
          <ion-text class="ion-text-wrap">
            <h3>ร่วมสร้างธุระกิจของคุณ กับ mana business เพื่อการจัดการที่ง่ายและสะดวก ปลอดภัยให้กับธุระกิจของคุณ
              พร้อมกับบริการเสริมมากมาย
              ที่จะทำให้ธุรกิจของคุณพัฒนาไปด้วยกันกับเรา</h3>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-card color="tertiary">
        <ion-button color="danger" expand="block" (click)="Add()">สร้างร้านใหม่</ion-button>
      </ion-card>
      <img class="ion-margin-top" src="assets/imgs/shopBackground.png" width="200" height="200" />
    </ion-list>
  </ng-container>
  <ion-list *ngIf="!hasLoaded" lines="none">
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>