<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-item lines="none" class="ion-text-center ion-margin-top">
      <ion-label>
        <h2><b>{{data.merchantAccount.name}}</b></h2>
        <ion-text color="medium">ยอดเงินปัจจุบัน</ion-text>
        <h2><b>฿{{ParseToTwoDecimal(data.merchantAccount.balance)|number:'1.2-2'}}</b></h2>
      </ion-label>
    </ion-item>
    <ion-list *ngIf="hasLoaded == 'y'" lines="full" class="ion-margin-top">
      <ion-item button detail="false" color="tertiary" *ngFor="let item of data.transactions"
        (click)="visitEndpoint(item.endpoint)">
        <ion-avatar slot="start">
          <img [src]="getActionImage(item.txType)" />
        </ion-avatar>
        <ion-label color="medium">
          <ion-text color="dark"><b>{{getActionDisplay(item.txType)}}</b></ion-text>
          <span *ngIf="item.actionDisplayName != null && item.actionDisplayName != ''">
            ({{item.actionDisplayName}})</span>
          <h3>{{item.transactionDateTime | date:'dd/MM/yy H:mm'}}</h3>
        </ion-label>
        <ion-note [color]="item.balance > 0 ? 'primary': 'danger'" slot="end">
          <span *ngIf="item.balance > 0">+</span>{{ ParseToTwoDecimal(item.balance) | number:'1.2-2' }}
        </ion-note>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="hasLoaded == 'n'" color="tertiary" lines="none" class="ion-margin-top">
      <ion-item class="ion-text-center" color="tertiary">
        ไม่มีรายการ
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-list *ngIf="!hasLoaded" lines="none">
    <ion-item class="ion-text-center ion-margin-top">
      <ion-label>
        <h2><b>&nbsp;</b></h2>
        <ion-text color="medium">ยอดเงินปัจจุบัน</ion-text>
        <h2><b>&nbsp;</b></h2>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center" color="tertiary">
      <ion-label>
        กำลังโหลดข้อมูล กรุณารอสักครู่...
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>