<ion-header>
  <ion-toolbar>
    <ion-title>ปรับแต่งรูปภาพ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <form [formGroup]="fg" (ngSubmit)="onSave()">

    <div (click)="onSelectImage()">
      <div *ngIf="!hasImage || hasImage == 'n'">
        <img *ngIf="!hasPreviousImage" src="assets/imgs/user-icon.png" class="center upload-image-crop">
        <img *ngIf="hasPreviousImage" [src]="previousImage" class="center upload-image-crop">
      </div>
      <div *ngIf="hasImage == 'y'">
        <img *ngIf="imageResponse$ | async as imageResponse" [src]="imageResponse.base64Image"
          class="center upload-image-crop">
      </div>
      <ion-label color="medium" class="ion-text-center">
        <h3>เปลี่ยนภาพ</h3>
      </ion-label>
    </div>

    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
      [disabled]="fg.invalid">ตกลง
    </ion-button>
  </form>

</ion-content>