<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="text-red ion-padding-start"><b>รายการโปรด</b></ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="10">
      <ion-slides [options]="slideOpts">

        <ng-container *ngIf="hasLoaded">
          <ion-slide class="ion-no-margin" *ngFor="let shortcut of shareShortcut.shortcuts">
            <ion-item class="ion-text-center ion-no-padding shortcut ion-no-margin" color="light" lines="none"
              (click)="visitEndpoint(shortcut.endpointUrl)">
              <ion-label class="ion-no-padding ion-no-margin ion-text-center">
                <ion-text>
                  <img class="ion-text-center" [src]="shortcut.logoUrl">
                  <img *ngIf="shortcut.isAlert == true" class="shortcut-noti" src="assets/imgs/pinnoti.png">
                </ion-text>
                <h4><small>{{shortcut.title}}</small></h4>
              </ion-label>
            </ion-item>
          </ion-slide>
        </ng-container>

        <ng-container *ngIf="!hasLoaded">
          <ion-slide>
            <ion-item class="ion-text-center" color="light" lines="none">
              <ion-label class="ion-no-padding ion-no-margin ion-text-center">
                <ion-text>
                  <ion-skeleton-text animated class="loading-shortcut">
                  </ion-skeleton-text>
                </ion-text>
                <p>
                  <ion-skeleton-text class="center" animated style="width:100px;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item class="ion-text-center" color="light" lines="none">
              <ion-label class="ion-no-padding ion-no-margin ion-text-center">
                <ion-text>
                  <ion-skeleton-text animated class="loading-shortcut">
                  </ion-skeleton-text>
                </ion-text>
                <p>
                  <ion-skeleton-text class="center" animated style="width:100px;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item class="ion-text-center" color="light" lines="none">
              <ion-label class="ion-no-padding ion-no-margin ion-text-center">
                <ion-text>
                  <ion-skeleton-text animated class="loading-shortcut">
                  </ion-skeleton-text>
                </ion-text>
                <p>
                  <ion-skeleton-text class="center" animated style="width:100px;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-slide>
          <ion-slide>
            <ion-item class="ion-text-center" color="light" lines="none">
              <ion-label class="ion-no-padding ion-no-margin ion-text-center">
                <ion-text>
                  <ion-skeleton-text animated class="loading-shortcut">
                  </ion-skeleton-text>
                </ion-text>
                <p>
                  <ion-skeleton-text class="center" animated style="width:100px;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-slide>
        </ng-container>
        <!-- <ion-slide>
      <ion-item class="ion-text-center" color="light" lines="none">
        <ion-label class="ion-no-padding ion-no-margin ion-text-center">
          <ion-text>
            <img class="ion-text-center" src="assets/imgs/addshortcut.png">
          </ion-text>
          <p>เพิ่ม</p>
        </ion-label>
      </ion-item>
    </ion-slide> -->
      </ion-slides>
    </ion-col>
    <ion-col size="2" style="align-self: center;" *ngIf="hasLoaded && shareShortcut.shortcuts.length > 0">
      <ion-label expand="block" (click)="openModal()">ทั้งหมด</ion-label>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content color="tertiary" mode="ios" [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="hasLoaded">
    <ion-list lines="full" class="ion-no-padding" id="manafeed">
      <ion-item-sliding color="danger" *ngFor="let item of feeds" color="red" [id]="item.id">
        <ion-item button detail="false" color="tertiary" (click)="homeFeedAction(item)">
          <ion-avatar slot="start">
            <img [src]="item.thumbnailImageURL">
          </ion-avatar>

          <ion-label [color]="IsDeleteFeed(item) ? 'medium' : 'dark'">
            <b>{{item.title}}</b>
            <p>{{item.description}}</p>
          </ion-label>

          <ion-note slot="end">
            <div *ngIf="IsExpirable(item)">
              <img width="12" [src]="IsDeleteFeed(item) ? 'assets/imgs/timegray.png':'assets/imgs/timered.png'">
              <span> {{DisplayExpireDateTime(item)}}</span>
            </div>
            <div *ngIf="!IsExpirable(item)">
              <br>
            </div>
            <p class="text-red" *ngIf="item.status">{{ item.status }}</p>
          </ion-note>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none" color="tertiary">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>

</ion-content>