<ion-header class="home-header" mode="ios">
  <ion-item lines="none" color="light" class="ion-no-padding">
    <ion-label class="text-red ion-padding-start"><b>รายการโปรด</b></ion-label>
  </ion-item>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let shortcut of shortcuts$ | async">
      <ion-item class="ion-text-center" color="light" lines="none" (click)="visitEndpoint(shortcut.endpointUrl)">
        <ion-label class="ion-no-padding ion-no-margin ion-text-center">
          <ion-text>
            <img class="ion-text-center" [src]="shortcut.logoUrl">
          </ion-text>
          <p>{{shortcut.title}}</p>
        </ion-label>
      </ion-item>
    </ion-slide>
    <!-- <ion-slide>
      <ion-item class="ion-text-center" color="light" lines="none">
        <ion-label class="ion-no-padding ion-no-margin ion-text-center">
          <ion-text>
            <img class="ion-text-center" src="assets/imgs/addshortcut.png">
          </ion-text>
          <p>เพิ่ม</p>
        </ion-label>
      </ion-item>
    </ion-slide> -->
  </ion-slides>
</ion-header>

<ion-content color="tertiary" mode="ios">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list lines="full" class="ion-no-padding">
    <ion-item-sliding color="danger" *ngFor="let item of feeds$ | async" color="red">
      <ion-item button detail="false" color="tertiary" (click)="homeFeedAction(item)">
        <ion-avatar slot="start">
          <img [src]="item.thumbnailImageURL">
        </ion-avatar>

        <ion-label [color]="IsDeleteFeed(item) ? 'medium' : 'dark'">
          <b>{{item.title}}</b>
          <p>{{item.description}}</p>
        </ion-label>

        <ion-note slot="end" *ngIf="IsExpirable(item)">
          <img width="12" [src]="IsDeleteFeed(item) ? 'assets/imgs/timegray.png':'assets/imgs/timered.png'">
          <span> {{DisplayExpireDateTime(item)}}</span>
        </ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>