<ion-header>
  <ion-toolbar>
    <ion-title>ถอนเงินออกจากร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card class="ion-padding-vertical" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/menutopup.png">
              </div>
              <ion-label class="ion-text-nowrap">
                <ion-text color="medium">
                  <p>ยอดเงินคงเหลือ</p>
                </ion-text>
                <h2 color="tertiary">
                  <b>{{ ParseToTwoDecimal(data.merchantAccount?.balance?.amountUnit) | number:'1.2-2' }}
                    {{ data.merchantAccount?.balance?.currency }}</b>
                </h2>
              </ion-label>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-label class="ion-text-nowrap">
                <h2><b>Wallet</b></h2>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-item color="tertiary" lines="none" class="ion-no-padding ion-margin-top">
        <ion-label class="ion-padding-start ion-padding-top" position="floating">
          <h1>ระบุกระเป๋าที่ต้องการถอน</h1>
        </ion-label>
        <ion-select class="ion-padding-horizontal ion-select-full" placeholder="" value="1" interface="alert">
          <ion-select-option value="1">Anon</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item color="tertiary" lines="full" class="ion-no-padding ion-margin-top">
        <ion-label class="ion-padding-start ion-padding-top" position="floating">
          <h1>ยอดที่ต้องการถอน</h1>
        </ion-label>
        <ion-input type="number" placeholder="ระบุยอดเงิน" formControlName="amount" (ionChange)="AmountChanged()"
          class="ion-text-center"></ion-input>
      </ion-item>

      <ion-item color="tertiary" lines="none">
        <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
        <ion-label color="medium" class="ion-text-wrap">
          <h3>ยอดเงินที่ท่านถอนออกจากธุรกิจจะถูกโอนเข้าไปยังกระเป๋าเงินที่คุณระบุ</h3>
        </ion-label>
      </ion-item>
      <ion-button id="app-form-submit" color="danger" [disabled]="fg.invalid" class="ion-no-margin" expand="full"
        type="submit">ตกลง
      </ion-button>
    </form>
  </ng-container>
  <ng-container *ngIf="!hasLoaded">
    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>