<ion-header>
  <ion-toolbar>
    <ion-title>ปรับแต่งรูปภาพ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <form [formGroup]="fg" (ngSubmit)="onSave()">

    <ng-container>
      <div *ngIf="!hasImage || hasImage == 'n'">
        <img *ngIf="!hasPreviousImage" src="assets/imgs/defaultshop.png" class="center">
        <img *ngIf="hasPreviousImage" [src]="previousImage" class="center">
      </div>
      <div *ngIf="hasImage == 'y'">
        <img *ngIf="imageResponse$ | async as imageResponse" [src]="imageResponse.base64Image" class="center">
      </div>
    </ng-container>

    <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
      [disabled]="fg.invalid">ตกลง
    </ion-button>
  </form>

</ion-content>