<ion-header>
  <ion-toolbar>
    <ion-title>พนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ion-list lines="inset">
    <ion-item color="tertiary">
      <ion-avatar slot="start" class="avatar-large">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>DisplayName AA</b></ion-text>
        <h3>087-1234567</h3>
        <h3>Biker</h3>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-avatar slot="start" class="avatar-large">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>DisplayName BB</b></ion-text>
        <h3>087-1234567</h3>
        <h3>Biker</h3>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <ion-avatar slot="start" class="avatar-large">
        <img src="assets/imgs/dfprofile.png">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>DisplayName CC</b></ion-text>
        <h3>087-1234567</h3>
        <h3>Biker</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>