<ion-header>
  <ion-toolbar>
    <ion-title>พนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none" *ngIf="hasLoaded == 'n'">
      <ion-item color="tertiary" class="ion-text-center">
        <ion-label>ไม่มีรายการ</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="inset" *ngIf="hasLoaded == 'y'">
      <!-- TODO: implement onSelect ไม่มี ui-->
      <ion-item color="tertiary" *ngFor="let item of data.bizEmployees" (click)="onSelectItem(item._id)">
        <ion-avatar slot="start" class="avatar-m">
          <img *ngIf="item.logo" [src]="item.logo" />
          <img *ngIf="!item.logo" src="assets/imgs/dfprofile.png" />
        </ion-avatar>
        <ion-label color="medium">
          <ion-text color="dark"><b>{{ item.name }}</b></ion-text>
          <h3>{{ item.phone }}</h3>
          <h3>{{ item.position }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>


  <ng-container *ngIf="!hasLoaded">
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>