<ion-header>
  <ion-toolbar>
    <ion-title>wallet-topup-bankaccount-confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding-top">
    <ion-card-content class="ion-text-center ion-no-padding">
      <ion-item color="tertiary" lines="none">
        <ion-label>
          <h3>กระเป๋าที่เติมเข้า</h3>
          <h1>กระเป๋าของฉัน</h1>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-top">
    <ion-card-content class="ion-no-padding">
      <ion-list lines="none">
        <ion-item color="tertiary">
          <img class="center ion-margin-bottom logo-m" src="assets/imgs/icontopup.png" slot="start" />
          <ion-list>
            <ion-item color="tertiary">
              <ion-label>
                <h3>จำนวนที่ต้องการเติม</h3>
              </ion-label>
            </ion-item>
            <ion-label color="danger">
              <h3>100.00 THB</h3>
            </ion-label>
          </ion-list>




        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>