<ion-header>
  <ion-toolbar>
    <ion-title>gpsaddress-select-location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-item class="ion-margin-top" color="tertiary" lines="none">
    <ion-label class="ion-padding-vertical">
      <ion-row class="ion-align-self-center">
        <img height="20" class="qr ion-margin-end" src="assets/imgs/gpspin.png" />
      </ion-row>
    </ion-label>
    <ion-input type="tel" placeholder="กรอกที่อยู่ที่ต้องการค้นหา"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top" color="tertiary" lines="none">
    <ion-row class="ion-align-self-center">
      <img height="20" class="qr ion-margin-end" src="assets/imgs/target.png" />
    </ion-row>
    <ion-label class="ion-padding-vertical">
      <b>ใช้ตำแหน่งปัจจุบัน</b>
    </ion-label>
  </ion-item>
</ion-content>