<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการถอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">

  <ng-container *ngIf="(data$ | async)?.withdrawSession as data">
    <div *ngIf="hasLoaded">
      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <ion-card-content>
            <ion-label>
              <h2>หมายเลขพร้อมเพย์</h2>
              <h2>
                <b>{{ data.promptpayId }}</b>
              </h2>
              <h2>ชื่อบัญชี</h2>
              <h2>
                <b>{{ data.thAccountName }}</b>
              </h2>
              <h2>
                <b>{{ data.enAccountName }}</b>
              </h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-card color="tertiary">
        <ion-card-content>
          <ion-label>
            <h2>จำนวนเงินที่ต้องการถอน</h2>
            <h2>
              <b>THB</b>
              <ion-text color="danger">
                <b> {{ ParseToTwoDecimal(data.amount) | number:'1.2-2' }}</b>
              </ion-text>
            </h2>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <!--TODO: loading page here -->
  </ng-container>
</ion-content>