<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการถอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">

  <ng-container>
    <div class="ion-margin-bottom">
      <ion-card color="tertiary">
        <ion-card-content>
          <ion-label>
            <h2>หมายเลขพร้อมเพย์</h2>
            <h2>
              <b>5565656565</b>
            </h2>
            <h2>ชื่อบัญชี</h2>
            <h2>
              <b>สมหมาย</b>
            </h2>
            <h2>
              <b>Sommai</b>
            </h2>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card color="tertiary">
      <ion-card-content>
        <ion-label>
          <h2>จำนวนเงินที่ต้องการถอน</h2>
          <h2>
            <b>THB</b>
            <ion-text color="danger">
              <b> 20.00</b>
            </ion-text>
          </h2>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>