<ion-header>
  <ion-toolbar>
    <ion-title>ยืนยันการถอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="ion-padding-top">

  <ng-container *ngIf="(data$ | async)?.withdrawSession as data">
    <div *ngIf="hasLoaded">
      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <br>
          <img class="center ion-margin-bottom logo-l" src="assets/imgs/iconwithdraw.png" />
          <br>
          <ion-list>
            <ion-item color="tertiary">
              <ion-label>
                <h3>เลขพร้อมเพย์</h3>
                <h2>
                  <b>{{ data.promptpayId }}</b>
                </h2>
              </ion-label>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>
                <h3>ชื่อบัญชี</h3>
                <h2>
                  <b>{{ data.thAccountName }}</b>
                </h2>
                <h2>
                  <b>{{ data.enAccountName }}</b>
                </h2>
              </ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none">
              <ion-label>
                <h3>จำนวนที่ต้องการถอน</h3>
                <h2>
                  <ion-text color="danger">
                    <b>{{ ParseToTwoDecimal(data.amount) | number:'1.2-2' }} <small>THB</small></b>
                  </ion-text>
                </h2>
              </ion-label>
            </ion-item>
          </ion-list>
          <br>
        </ion-card>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>