<ion-header>
  <ion-toolbar>
    <ion-title>ค้นหา</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header class="home-header" mode="ios">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-searchbar #searchbar inputmode="search" enterkeyhint="search" [debounce]="deleyTime" (ionFocus)="getItems($event)"
      (ionChange)="getItems($event)" formControlName="searchInput"></ion-searchbar>
  </form>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="full" class="searchSuggestion" *ngIf="isSearching" color="tertiary">
    <ion-item *ngFor="let item of filterdItems" color="tertiary" (click)="onSelectSearch(item.name)">
      <img height="12" [class]="item.type === 'membership' ? 'circle' : ''" slot="start" [src]="item.logo" />
      <ion-label>
        <h3>
          {{ item.name }}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="!isSearching">
    <ion-list *ngIf="filterdItems.length == 0" lines="none">
      <ion-item class="ion-text-center">
        <ion-label>ไม่พบสิ่งที่กำลังค้นหา</ion-label>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="searchSuggestion" *ngIf="filterdItems.length > 0" color="tertiary">
      <ion-item *ngFor="let item of filterdItems" color="tertiary">
        <ion-avatar slot="start">
          <img [src]="item.logo" />
        </ion-avatar>
        <ion-label>
          <h2>
            <b>
              {{ item.name }}
            </b>
          </h2>
          <h3>
            <ion-text color="medium">
              {{ item.description }}
            </ion-text>
          </h3>
          <h3>
            <ion-chip *ngFor="let tag of item.tags"
              class="ion-no-margin ion-margin-end ion-no-padding ion-padding-horizontal chip-small" outline color="dark">
              <span>{{ tag }}</span>
            </ion-chip>
          </h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- <div>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>

    <hr style="background-color: black;">

    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <hr style="background-color: black;">

    <ion-card color="light" class="ion-text-center">
      <ion-label>
        <h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </ion-label>
    </ion-card>

    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>

    <hr style="background-color: black;">

    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </div> -->

</ion-content>