<ion-header>
  <ion-toolbar>
    <ion-title>ค้นหา</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header mode="ios">
  <form [formGroup]="fg" (ngSubmit)="onSubmit()">
    <ion-searchbar #searchbar inputmode="search" enterkeyhint="search" (ionFocus)="onInputChange($event)"
      (ionChange)="onInputChange($event)" formControlName="searchInput"></ion-searchbar>
  </form>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="full" class="searchSuggestion" *ngIf="isSearching" color="tertiary">
    <ion-item *ngIf="searhHasload == 'n'" class="ion-text-center">
      <ion-label>ไม่พบสิ่งที่กำลังค้นหา</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of searchItems" color="tertiary" (click)="onSelectSearch(item.text)">
      <img height="12" [class]="item.type === 'membership' ? 'circle' : ''" slot="start" [src]="item.icon" />
      <ion-label>
        <h3>
          {{ item.text }}
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="!isSearching">
    <ion-list *ngIf="resultHasload == 'n'" lines="none">
      <ion-item class="ion-text-center">
        <ion-label>ไม่พบสิ่งที่กำลังค้นหา</ion-label>
      </ion-item>
    </ion-list>
    <ion-list lines="full" class="searchSuggestion" *ngIf="resultItems.length > 0" color="tertiary">
      <ion-item *ngFor="let item of resultItems" color="tertiary">
        <ion-avatar slot="start" (click)="visitEndpoint(item.endpointUrl)">
          <img [src]="item.logo" />
        </ion-avatar>
        <ion-label>
          <div (click)="visitEndpoint(item.endpointUrl)" >
            <h2>
              <b>
                {{ item.title }}
              </b>
            </h2>
            <h3>
              <ion-text color="medium">
                {{ item.body }}
              </ion-text>
            </h3>
          </div>
          <h4>
            <img height="12" [src]="getStatusIcon(item.category)" />
            &nbsp;
            <ion-chip *ngFor="let tag of item.tags" (click)="onSelectSearch(tag)" size="tiny"
              class="ion-no-margin ion-margin-end ion-no-padding ion-padding-horizontal chip-small" outline
              color="dark">
              <span>{{ tag }}</span>
            </ion-chip>
          </h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- <div>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-skeleton-text animated style="height: 70px; width: 100%;"></ion-skeleton-text>
    </ion-item>

    <hr style="background-color: black;">

    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>

    <hr style="background-color: black;">

    <ion-card color="light" class="ion-text-center">
      <ion-label>
        <h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </ion-label>
    </ion-card>

    <hr style="background-color: black;">

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>

    <hr style="background-color: black;">

    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </div> -->

</ion-content>