<ion-header>
  <ion-toolbar>
    <ion-title>เติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">
  <ion-card class="ion-margin-top ion-padding-bottom" color="tertiary">
    <ion-item class="ion-text-center" color="tertiary" lines="none">
      <ion-grid>
        <ion-row class="ion-text-center ion-align-items-center">
          <ion-col size="6" class="ion-text-center ion-padding">
            <div class="content-center">
              <img class="icon transaction-img" src="assets/imgs/changewallet.png">
            </div>
            <ion-label class="ion-text-nowrap">
              <h3><b>Wallet</b></h3>
            </ion-label>
            <img class="right-arrow" height="18" src="assets/svgs/icon-forward-medium.svg">
          </ion-col>
          <ion-col size="6" class="ion-text-center ion-padding">
            <div class="content-center">
              <img class="icon transaction-img" src="assets/imgs/menutopup.png">
            </div>
            <ion-label class="ion-text-nowrap">
              <h3><b>ร้านของคุณ</b></h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <ion-item color="tertiary" class="ion-padding-top">
    <ion-label position="floating">ยอดที่ต้องการเติม</ion-label>
    <ion-input type="number" placeholder="ระบุยอดเงิน"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <img slot="start" width="22" height="22" class="qr" src="assets/imgs/walletgray.png" />
    <ion-label>
      <h3>ยอดเงินจากกระเป๋าของคุณจะถูกเติมเข้ามาที่ร้าน</h3>
    </ion-label>
  </ion-item>
</ion-content>