<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
    <form [formGroup]="fg" (ngSubmit)="onSave()">
      <ion-list>
        <ion-item *ngFor="let item of data$ | async" [color]="isSelected(item) ? 'danger': ''"
          (click)="onItemSelected(item)">
          <ion-label>
            <h2><b>{{ item }}</b></h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button id="app-form-submit" type="submit" color="danger" [disabled]="fg.invalid" ion-button expand="full"
        no-margin>ยืนยัน</ion-button>
    </form>
</ion-content>