<ion-header>
  <ion-toolbar>
    <ion-title>ถอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-list lines="none">
    <ion-list-header lines="none" mode="md">
      <ion-label>กรุณาเลือกวิธีการถอนเงิน</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" button detail="false" (click)="onSelectWithdrawByMTM()">
      <ion-label>
        <b>ถอนเงินผ่าน mana</b>
      </ion-label>
      <img slot="end" height="13" src="assets/svgs/icon-forward-medium.svg">
    </ion-item>
    <ion-item color="tertiary" button detail="false" class="ion-margin-top" (click)="onSelectWithdrawByPromptpay()">
      <ion-label>
        <b>ถอนเงินผ่าน PromptPay</b>
      </ion-label>
      <img slot="end" height="13" src="assets/svgs/icon-forward-medium.svg">
    </ion-item>
  </ion-list>

</ion-content>