<ion-header>
  <ion-toolbar>
    <ion-title>QR รับเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none" class="ion-text-center">
    <ion-item class="ion-margin-top imageCenter">
      <img src="assets/imgs/logo.png" class="ion-margin-top">
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label><b>Shop Name</b></ion-label>
    </ion-item>
    <ion-card color="tertiary">
      <img class="ion-margin-top" width="200" height="200"
        src="assets/imgs/promtpayicon.png" />
    </ion-card>
    <ion-item color="tertiary" class="ion-text-center">
      <ion-label color="medium">
        <h3>คิวอาร์โค้ดใช้เพื่อสแกนจ่ายเงิน</h3>
        <h3>ของธุรกิจคุณ</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>