<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-margin-vertical">
        <ion-avatar slot="start">
          <img [src]="data.softwareLogo">
        </ion-avatar>
        <ion-label class="ion-text-nowrap">
          <b>{{data.softwareName}}</b>
          <h3>ได้ทำการขออนุญาติเพื่อทำรายการ</h3>
        </ion-label>
        <ion-note>
          <ion-label>
            <b>&nbsp;</b>
            <ion-text color="medium">
              <h3><u>ขอข้อมูลเพิ่มเติม</u></h3>
            </ion-text>
          </ion-label>
        </ion-note>
      </ion-item>

      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <ion-card-content class="ion-no-padding ion-padding">
            <ion-label>
              <b>
                ทำการเปิด Bussiness-Account สำหรับระบบ Delivery
              </b>
            </ion-label>
            <div class="ion-text-center ion-padding">
              <ion-avatar slot="start" class="avatar-l center">
                <img [src]="data.deliveryLogo">
              </ion-avatar>
              <ion-label class="ion-text-center">
                <b>{{data.deliveryName}}</b>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <ion-card-content class="ion-no-padding ion-padding">
            <ion-label>
              <b>
                ทำระบบ Escrow ที่มีส่วนแบ่ง
              </b>
            </ion-label>
            <ion-grid class="ion-padding-start ion-padding-top">
              <ion-row class="ion-align-items-center">
                <ion-col size="1">
                  <img height="15" src="assets/imgs/escrowdel.png" />
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <h3>Delivery</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="7">
                  <ion-label>
                    <b> {{data.deliverySharePercentage}} % </b>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="1">
                  <img height="15" src="assets/imgs/escrowshop.png" />
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <h3>Software</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="7">
                  <ion-label>
                    <b> {{data.softwareSharePercentage}} % </b>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="ion-align-items-center">
                <ion-col size="1">
                  <img height="15" src="assets/imgs/escrowbiker.png" />
                </ion-col>
                <ion-col size="4">
                  <ion-label>
                    <h3>Biker</h3>
                  </ion-label>
                </ion-col>
                <ion-col size="7">
                  <ion-label>
                    <b> {{data.shippingSharePercentage}} % </b>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <ion-card-content class="ion-no-padding ion-padding">
            <ion-label>
              <b>
                สร้าง Budget
              </b>
            </ion-label>
            <div class="ion-text-center ion-padding">
              <ion-label class="ion-text-center">
                <h2>
                  <b>{{data.createBudgetName}}</b>
                </h2>
                <h2>วงเงิน {{data.createBudgetAmount | number:'1.2-2'}} THB</h2>
                <h2>เติมเข้าทุกครั้งที่หมด</h2>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="ion-margin-bottom">
        <ion-card color="tertiary">
          <ion-card-content class="ion-no-padding ion-padding">
            <ion-label>
              <b>
                ขอเข้าถึง Budget
              </b>
            </ion-label>
            <div class="ion-text-center ion-padding">
              <ion-label class="ion-text-center">
                <h2>
                  <b>{{data.requestAccessBudgetName}}</b>
                </h2>
                <h2>วงเงิน {{data.requestAccessBudgetAmount | number:'1.2-2'}} THB</h2>
                <h2>เติมเข้าทุกครั้งที่หมด</h2>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <form [formGroup]="fg" (ngSubmit)="onSave()">
        <ion-list class="ion-margin-bottom">
          <ion-radio-group formControlName="isAgree" mode="md">
            <ion-item color="tertiary">
              <ion-label>ยอมรับข้อตกลง</ion-label>
              <ion-radio slot="start" value="true"></ion-radio>
            </ion-item>
            <ion-item color="tertiary">
              <ion-label>ปฏิเสธข้อตกลง</ion-label>
              <ion-radio slot="start" value="false"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit"
        [disabled]="fg.invalid">ยืนยัน
      </ion-button>
      </form>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <br>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
        <h3>
          <ion-skeleton-text animated></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  
    <ion-card color="light" class="ion-text-center">
      <ion-label>
        <h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </ion-label>
  </ion-card>

  </ng-container>
</ion-content>