<ion-header>
  <ion-toolbar>
    <ion-title>ตะกร้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="data$ | async as data">
    <ion-list lines="full" *ngIf="hasLoaded == 'y'">
      <ion-list-header color="tertiary">
        <ion-label>เลือกร้าน</ion-label>
      </ion-list-header>
      <ion-item button detail="false" color="tertiary" *ngFor="let shop of data"
        (click)="onSelectItem(shop.endpointUrl)">
        <ion-avatar slot="start">
          <img [src]="shop.merchant.logoImageUrl" />
        </ion-avatar>
        <ion-label>
          <b>{{shop.merchant.name}}</b>
        </ion-label>
        <ion-badge *ngIf="shop.itemsCount > 0" color="primary" slot="end">{{shop.itemsCount}}</ion-badge>
      </ion-item>
    </ion-list>
    <ion-list lines="none" *ngIf="hasLoaded == 'n'">
      <ion-item class="ion-text-center">
        <ion-label>ไม่มีรายการตะกร้า</ion-label>
      </ion-item>
    </ion-list>
    </ng-copntainer>

    <ion-list lines="none" *ngIf="!hasLoaded">
      <ion-item class="ion-text-center">
        <ion-label>กำลังโหลดข้อมูล กรุณารอสักครู่...</ion-label>
      </ion-item>
    </ion-list>
</ion-content>