<ion-header>
  <ion-toolbar>
    <ion-title>เติมเงินเข้าธุรกิจของคุณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">

  <ng-container>
    <ion-card class="ion-margin-top ion-padding-bottom" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-label class="ion-text-nowrap"><h3><b>Form A</b></h3></ion-label>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>

            </ion-col>
            <ion-col size="6" class="ion-text-center ion-padding">
              <div class="content-center">
                <img class="icon circle transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-label class="ion-text-nowrap"><h3><b>To B</b></h3></ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-label class="text-red"><h1><b>฿20.00</b></h1></ion-label>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>

    <ion-card color="light" class="ion-text-center">
      <br>
        <ion-label class="text-gray ion-margin-vertical ion-text-uppercase"><h1><b>รหัสอ้างอิง : 9999</b></h1></ion-label>
        <ion-label class="text-gray"><h3>วันที่ 06/01/2020 เวลา 23:32</h3></ion-label>
        <img class="center icon ion-margin-top" width="80" height="80" src="assets/imgs/transaction-out.png" />
    </ion-card>
  </ng-container>

</ion-content>