<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการโอนเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">

  <ng-container>
    <ion-card class="ion-padding-top" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon circle transaction-img" src="assets/imgs/changewallet.png">
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-text-center">
              <ion-label class="ion-text-nowrap">
                <h3><b>ดหกดหกดหกด</b></h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-label class="ion-text-nowrap">
                <h3><b>อานน บางสาน</b></h3>
                <h3><b>พร้อมเพย์ ***ฟหกฟหก</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card>
    <ion-card color="tertiary">
      <ion-card-content class="ion-no-padding">
        <ion-grid class="ion-padding">
          <ion-row>
            <ion-col class="ion-no-padding">
              <b>รายละเอียดการจ่ายเงิน</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-label>จำนวนเงิน</ion-label>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">111.00 THB
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">ค่าธรรมเนียม
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">111.00 THB
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">ยอดรวม
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-text color="danger">111.00 THB
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div size="12" class="indentation">
    </div>

    <ion-card color="light" class="ion-text-center">
      <br>
      <ion-label class="text-gray ion-margin-vertical ion-text-uppercase">
        <h1><b>รหัสอ้างอิง : 11111</b></h1>
      </ion-label>
      <ion-label class="text-gray">
        <h3 class="text-gray">วันที่ 25/2/35 เวลา
          11.00 น</h3>
      </ion-label>
      <img class="center icon ion-margin-top" width="80" height="80" src="assets/imgs/transaction-in.png" />
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-label>
      <h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
    </ion-label>
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>