<ion-header>
  <ion-toolbar>
    <ion-title>แก้ไข ชื่อ-สกุล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list margin-top mode="ios">
      <ion-item lines="none" mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">ชื่อเล่น</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-list-header lines="none" mode="md">
        <ion-label>ภาษาไทย</ion-label>
      </ion-list-header>
      <ion-item mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">คำนำหน้า</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">ชื่อ</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item lines="none" mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">สกุล</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-list-header lines="none" mode="md">
        <ion-label>ENGLISH</ion-label>
      </ion-list-header>
      <ion-item mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">Title</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">FirstName</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item lines="none" mode="ios" color="tertiary">
        <ion-label position="fixed" mode="ios">LastName</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
    <ion-footer>
      <ion-button id="app-form-submit" color="danger" class="ion-no-margin" expand="full" type="submit">แก้ไขเสร็จสิ้น
      </ion-button>
    </ion-footer>
  </form>
</ion-content>