<ion-header>
  <ion-toolbar>
    <ion-title>เติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-list lines="none">
    <ion-list-header lines="none" mode="md">
      <ion-label>กรุณาเลือกวิธีการเติมเงิน</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" button detail="false" (click)="onSelectTopupByMTM()">
      <ion-label>
        <b>เติมเงินผ่าน mana</b>
      </ion-label>
      <img slot="end" height="13" src="assets/svgs/icon-forward-medium.svg">
    </ion-item>
    <ion-item color="tertiary" button detail="false" class="ion-margin-top" (click)="onSelectTopupByPromptpay()">
      <ion-label>
        <b>เติมเงินผ่าน PromptPay</b>
      </ion-label>
      <img slot="end" height="13" src="assets/svgs/icon-forward-medium.svg">
    </ion-item>
  </ion-list>

</ion-content>