<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการเติมเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="transaction ion-padding-top" mode="ios">

  <ng-container *ngIf="data$ | async as data">
    <ion-card class="ion-padding-vertical" color="tertiary">
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-grid>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon circle transaction-img" src="assets/imgs/promtpayicon.png">
              </div>
              <ion-icon class="right-arrow" name="chevron-forward-sharp"></ion-icon>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <div class="content-center">
                <img class="icon transaction-img" src="assets/imgs/changewallet.png">
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-text-center ion-align-items-center">
            <ion-col size="6" class="ion-text-center">
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.fromName }}</b></h3>
              </ion-label>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
              <ion-label class="ion-text-nowrap">
                <h3><b>{{ data.toName }}</b></h3>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="ion-text-center" color="tertiary" lines="none">
        <ion-label class="text-red">
          <h1><b>฿{{ AbsoluteNumber(ParseToTwoDecimal(data.balance)) | number:'1.2-2' }}</b></h1>
        </ion-label>
      </ion-item>
    </ion-card>
    <div size="12" class="indentation">
    </div>

    <ion-card color="light" class="ion-text-center">
      <br>
      <ion-label class="text-gray ion-margin-vertical ion-text-uppercase">
        <h1><b>รหัสอ้างอิง : {{ data.refId }}</b></h1>
      </ion-label>
      <ion-label class="text-gray">
        <h3 class="text-gray">วันที่ {{ data.transactionDate | date:'dd/MM/yyyy' }} เวลา
          {{ data.transactionDate | date:'H:mm' }}</h3>
      </ion-label>
      <img class="center icon ion-margin-top" width="80" height="80" src="assets/imgs/transaction-deposit.png" />
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <ion-row>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-skeleton-text class="center circle" animated style="width: 35px; height: 35px;"></ion-skeleton-text>
        <ion-label>
          <h3>
            <ion-skeleton-text class="center" animated></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-col>
    </ion-row>
    <br>
    <ion-label>
      <h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </h3>
      <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
    </ion-label>
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>