<ion-header>
  <ion-toolbar>
    <ion-title>merchant-deposit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="inset">
    <ion-item color="tertiary" class="ion-margin-top" lines="none">
      <ion-text color="dark"><b><ion-icon name="card-outline" color="dark"></ion-icon> มัดจำการเปิดธุรกิจ</b></ion-text>
    </ion-item>
    <ion-item color="tertiary" lines="full" >
      <ion-label color="medium" class="ion-no-margin ion-margin-bottom">
        <ion-text color="dark"><b>ผู้ถือมัดจำ</b></ion-text>
        <h2>บริษัท mana</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="full">
      <ion-label color="medium">
        <ion-text color="dark"><b>วันที่วางมัดจำ</b></ion-text>
        <h2>18 พ.ค. 2563</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="full">
      <ion-label color="medium">
        <ion-text color="dark"><b>วงเงิน</b></ion-text>
        <h2>250,000 บาท</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label color="medium" class="ion-text-center">
        <h2>อ่านรายละเอียดเพิ่มเติม</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="inset">
    <ion-item color="tertiary" class="ion-margin-top" lines="none">
      <ion-text color="dark"><b><ion-icon name="card-outline" color="dark"></ion-icon> มัดจำชดเชยค่าเสียหาย</b></ion-text>
    </ion-item>
    <ion-item color="tertiary" lines="full" >
      <ion-label color="medium" class="ion-no-margin ion-margin-bottom">
        <ion-text color="dark"><b>ผู้ถือมัดจำ</b></ion-text>
        <h2>บริษัท mana</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="full">
      <ion-label color="medium">
        <ion-text color="dark"><b>วันที่วางมัดจำ</b></ion-text>
        <h2>18 พ.ค. 2563</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="full">
      <ion-label color="medium">
        <ion-text color="dark"><b>วงเงิน</b></ion-text>
        <h2>250,000 บาท</h2>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary" lines="none">
      <ion-label color="medium" class="ion-text-center">
        <h2>อ่านรายละเอียดเพิ่มเติม</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
