<ion-header>
  <ion-toolbar>
    <ion-title>e-Slip => Coupon Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content mode="ios">
    <ion-list lines="none">
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-avatar slot="start">
          <img [src]="'assets/imgs/couponred.png'">
        </ion-avatar>
        <ion-label color="medium">
          <ion-text color="dark"><b>Coupon Name</b></ion-text>

          <p><img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
            Shop Name</p>
        </ion-label>
      </ion-item>
      <ion-card color="tertiary">
        <img src="assets/imgs/Coupontest.png">
      </ion-card>
      <ion-item color="tertiary">
        <ion-label color="dark">
          <b>วัยหมดอายุ: d MMMM y H:mm</b>
          <ion-text color="medium">
            <p>
              <img height="12" src="assets/imgs/shoplocation.png" />
              Full Address
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary" class="ion-margin-top">
        <ion-label class="ion-text-wrap">
          <b>รายละเอียดคูปอง</b>
          <p>Reiciendis debitis aliqua aliquam cursus curae veritatis conubia est! Adipisicing nisl adipiscing? Aperiam,
            ut donec. </p>
        </ion-label>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label class="ion-text-wrap">
          <b>เงื่อนไขคูปอง</b>
          <p>Reiciendis debitis aliqua aliquam cursus curae veritatis conubia est! Adipisicing nisl adipiscing? Aperiam,
            ut donec. </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>