<ion-header>
  <ion-toolbar>
    <ion-title>XDevTest-C</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 15px;">
    <h1>XDevTest-C</h1>
    <h2>Init page and get api data when start</h2>
    <br />
    <ion-button color="danger" (click)="getMockDataValueBtn()">get data</ion-button>
    <br>
    <ion-button color="danger" (click)="getMockDatObjectBtn()">get object</ion-button>
    <br>
    <ion-button color="primary" (click)="sendString()">send string to C#</ion-button>
    <br>
    <ion-button color="primary" (click)="sendNumber()">send number to C#</ion-button>
    <br>
    <ion-button color="primary" (click)="sendObject()">send Obj to C#</ion-button>
    <br>
    <ion-button color="warning" (click)="initPage()">initpage</ion-button>
    <br>
    <ion-button color="warning" (click)="getAPIData()">get API data</ion-button>
    <br>
    <ion-button color="warning" (click)="initpageAndGetAPIData()">initpage and get API data</ion-button>
    <br>
    <ion-button color="success" (click)="reloadPage()">Reload</ion-button>

    <ng-container *ngIf="data$ | async as data">
      <p>result : {{data | json}}</p>
    </ng-container>
  </div>

</ion-content>