<ion-header>
  <ion-toolbar>
    <ion-title>งบประมาณ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="tertiary">
  <ion-list>
    <ion-item button color="tertiary">
      <ion-label color="medium">
        <ion-text color="dark"><b>รายจ่ายประจำเดือน</b></ion-text>
        <h3>4500 บาท</h3>
      </ion-label>
    </ion-item>
    <ion-item button color="tertiary">
      <ion-label color="medium">
        <ion-text color="dark"><b>ค่าเดินทาง</b></ion-text>
        <h3>500 บาท</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>