<ion-header>
  <ion-toolbar>
    <ion-title>e-Slip => Shop Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/couponred.png'">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>Coupon Name</b></ion-text>
        <p>วัยหมดอายุ: d MMMM y H:mm</p>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <img src="assets/imgs/Coupontest.png">
    </ion-item>
    <ion-item color="tertiary">
      <ion-label color="dark">
        <img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
        Shop Name
      </ion-label>
      <img width="17" src="assets/svgs/icon-ellipsis-medium.svg">
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/couponred.png'">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>Coupon Name</b></ion-text>
        <p>วัยหมดอายุ: d MMMM y H:mm</p>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <img src="assets/imgs/Coupontest.png">
    </ion-item>
    <ion-item color="tertiary">
      <ion-label color="dark">
        <img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
        Shop Name
      </ion-label>
      <img width="17" src="assets/svgs/icon-ellipsis-medium.svg">
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/coupongray.png'">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>Coupon Name</b></ion-text>
        <p>วัยหมดอายุ: d MMMM y H:mm</p>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <img class="eslip-dim" src="assets/imgs/Coupontest.png">
      <img class="eslip-aproved-logo" width="75" height="75" src="assets/imgs/usedcoupon.png">
    </ion-item>
    <ion-item color="tertiary">
      <ion-label color="medium">
        <img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
        Shop Name
      </ion-label>
      <img width="17" src="assets/svgs/icon-ellipsis-medium.svg">
    </ion-item>
    <ion-item color="tertiary" class="ion-margin-top">
      <ion-avatar slot="start">
        <img [src]="'assets/imgs/coupongray.png'">
      </ion-avatar>
      <ion-label color="medium">
        <ion-text color="dark"><b>Coupon Name</b></ion-text>
        <p>วัยหมดอายุ: d MMMM y H:mm</p>
      </ion-label>
    </ion-item>
    <ion-item color="tertiary">
      <img class="eslip-dim" src="assets/imgs/Coupontest.png">
      <img class="eslip-aproved-logo" width="75" height="75" src="assets/imgs/usedcoupon.png">
    </ion-item>
    <ion-item color="tertiary">
      <ion-label color="medium">
        <img width="12" height="12" class="qr" src="assets/imgs/shop.png" />
        Shop Name
      </ion-label>
      <img width="17" src="assets/svgs/icon-ellipsis-medium.svg">
    </ion-item>
  </ion-list>
</ion-content>