<ion-header>
  <ion-toolbar>
    <ion-title>Agreement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" mode="ios">
  <ng-container *ngIf="data$ | async as data">
    <ion-card detail="false" color="tertiary" *ngIf="hasLoaded">
      <ion-card-content>
        <div class="ion-text-center">
          <img class="circle" height="100" [src]="data.logoUrl" />
        </div>
        <br>
        <ion-label color="dark">
          <h1 class="ion-margin-top ion-text-center"><b>{{data.name}}</b></h1>
        </ion-label>
        <br>
        <div [innerHTML]="data.content"></div>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!hasLoaded">
    <!--TODO: loading page here -->
  </ng-container>

</ion-content>