<ion-header>
  <ion-toolbar>
    <ion-title>โปรไฟล์ร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ng-container *ngIf="(data$ | async)?.merchantAccount as data">
    <ion-list lines="none" *ngIf="hasLoaded">
      <ion-item class="ion-margin-top imageCenter">
        <img *ngIf="data?.logo" [src]="data.logo" class="circle ion-margin-top" height="90px" width="90px">
        <img *ngIf="!data?.logo" src="assets/imgs/defaultshop.png" class="circle ion-margin-top" height="90px"
          width="90px">
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-label><b>เปลี่ยนภาพ</b></ion-label>
      </ion-item>
      <ion-list-header mode="md">
        <ion-label>ชื่อร้าน</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" button>
        <ion-label>
          <b *ngIf="data?.name">{{data.name}}</b>
          <b *ngIf="!data?.name">-</b>
        </ion-label>
      </ion-item>
      <ion-list-header mode="md">
        <ion-label>สถานที่ตั้ง</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" button>
        <ion-label>
          <b *ngIf="data.address?.fullAddress">{{data.address?.fullAddress}}</b>
          <b *ngIf="!data?.address?.fullAddress">-</b>
        </ion-label>
      </ion-item>
      <ion-list-header mode="md">
        <ion-label>ระดับของร้าน</ion-label>
      </ion-list-header>
      <ion-item color="tertiary" button>
        <ion-label>
          <b>Lite</b>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-container *ngIf="!hasLoaded">
    <ion-card color="light" class="ion-text-center">
      <ion-card-content>
        <ion-skeleton-text class="center circle ion-margin-bottom" animated style="width:100px; height:100px">
        </ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card color="light" class="ion-text-center">
      <ion-label>
        <h3>
          <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
        </h3>
        <ion-skeleton-text class="center" animated style="width:200px;"></ion-skeleton-text>
      </ion-label>
    </ion-card>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ng-container>
</ion-content>