<ion-header>
  <ion-toolbar>
    <ion-title>โปรไฟล์ร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-list lines="none">
    <ion-item class="ion-margin-top imageCenter">
      <img src="assets/imgs/logo.png" class="circle ion-margin-top">
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label><b>Shop Name</b></ion-label>
    </ion-item>
    <ion-list-header mode="md">
      <ion-label>ชื่อร้าน</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" button>
      <ion-label>
        <b>-</b>
      </ion-label>
    </ion-item>
    <ion-list-header mode="md">
      <ion-label>สถานที่ตั้ง</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" button>
      <ion-label>
        <b>-</b>
      </ion-label>
    </ion-item>
    <ion-list-header mode="md">
      <ion-label>ระดับของร้าน</ion-label>
    </ion-list-header>
    <ion-item color="tertiary" button>
      <ion-label>
        <b>Lite</b>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>