// ion-slides {
//     // height: 80px;
//     ion-slide {
//         height: 80px;
//         img {
//             border-radius: 50%;
//             height: 40px;
//             width: 40px;
//         }
//         p{
//             color: black;
//         }
//     }
//     .shortcut{    
//         .item-inner{
//         padding-inline-end: 0 !important;
//     }
// }
// }

.shortcut-noti {
    height: 10px !important;
    width: 10px !important;
    // position: absolute;
    // right: 20%;
    position: absolute;
    margin-left: -10px !important
}

// ion-avatar{
//     width: 40px;
//     height: 40px;
// }